In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
import datetime

In [8]:
import warnings
warnings.filterwarnings("ignore")

In [83]:
df = pd.read_csv("SHIBUSDT100000.csv")

In [84]:
print(df.iloc[0])

Unnamed: 0                              NaN
SHIBUSDT                          Open time
SHIBUSDT.1                             Open
SHIBUSDT.2                             High
SHIBUSDT.3                              Low
SHIBUSDT.4                            Close
SHIBUSDT.5                           Volume
SHIBUSDT.6                       Close time
SHIBUSDT.7               Quote asset volume
SHIBUSDT.8                 Number of trades
SHIBUSDT.9      Taker buy base asset volume
SHIBUSDT.10    Taker buy quote asset volume
Name: 0, dtype: object

In [85]:
# Step 1: Set the first row (index 0) as the column headers
df.columns = df.iloc[0]  # Make the first row as header

# Step 2: Drop the first row (now the header row)
df = df.drop(df.index[0])  # Drop the row that is now the header

# Step 3: Reset the index to clean the DataFrame
df = df.reset_index(drop=True)

In [86]:
df.head()

,NaN,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume
0,0.0,2024-11-29 19:15:00,0.00002586,0.00002600,0.00002584,0.00002597,37496939828.00,2024-11-29 19:29:59.999,972646.83781410,27928,21905153051.00,568208.64802220
1,1.0,2024-11-29 19:30:00,0.00002597,0.00002612,0.00002596,0.00002609,26725324600.00,2024-11-29 19:44:59.999,696462.58992786,23467,12605369474.00,328584.11842119
2,2.0,2024-11-29 19:45:00,0.00002609,0.00002624,0.00002608,0.00002620,69224716464.00,2024-11-29 19:59:59.999,1809911.34886240,28201,35851991393.00,937393.54961129
3,3.0,2024-11-29 20:00:00,0.00002621,0.00002623,0.00002610,0.00002613,58428525381.00,2024-11-29 20:14:59.999,1528261.51287951,29693,24893874104.00,651652.62798692
4,4.0,2024-11-29 20:15:00,0.00002613,0.00002625,0.00002612,0.00002625,34867426582.00,2024-11-29 20:29:59.999,913351.20503113,20282,25188974256.00,659988.96366782

In [87]:
df.to_csv("SHIBUSDT_UPDATED")