In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import datetime

In [4]:
import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("SHIBUSDT100000.csv")

In [6]:
print(df.iloc[0])

Unnamed: 0                              NaN
SHIBUSDT                          Open time
SHIBUSDT.1                             Open
SHIBUSDT.2                             High
SHIBUSDT.3                              Low
SHIBUSDT.4                            Close
SHIBUSDT.5                           Volume
SHIBUSDT.6                       Close time
SHIBUSDT.7               Quote asset volume
SHIBUSDT.8                 Number of trades
SHIBUSDT.9      Taker buy base asset volume
SHIBUSDT.10    Taker buy quote asset volume
Name: 0, dtype: object

In [7]:
# Step 1: Set the first row (index 0) as the column headers
df.columns = df.iloc[0]  # Make the first row as header

# Step 2: Drop the first row (now the header row)
df = df.drop(df.index[0])  # Drop the row that is now the header

# Step 3: Reset the index to clean the DataFrame
df = df.reset_index(drop=True)

In [8]:
df.head()

,NaN,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume
0,0.0,2024-11-29 19:15:00,0.00002586,0.00002600,0.00002584,0.00002597,37496939828.00,2024-11-29 19:29:59.999,972646.83781410,27928,21905153051.00,568208.64802220
1,1.0,2024-11-29 19:30:00,0.00002597,0.00002612,0.00002596,0.00002609,26725324600.00,2024-11-29 19:44:59.999,696462.58992786,23467,12605369474.00,328584.11842119
2,2.0,2024-11-29 19:45:00,0.00002609,0.00002624,0.00002608,0.00002620,69224716464.00,2024-11-29 19:59:59.999,1809911.34886240,28201,35851991393.00,937393.54961129
3,3.0,2024-11-29 20:00:00,0.00002621,0.00002623,0.00002610,0.00002613,58428525381.00,2024-11-29 20:14:59.999,1528261.51287951,29693,24893874104.00,651652.62798692
4,4.0,2024-11-29 20:15:00,0.00002613,0.00002625,0.00002612,0.00002625,34867426582.00,2024-11-29 20:29:59.999,913351.20503113,20282,25188974256.00,659988.96366782

In [9]:
# Convert Open time and Close time to datetime
df['Open_time'] = pd.to_datetime(df['Open time'])
df['Close_time'] = pd.to_datetime(df['Close time'])

In [10]:
df.head()

,NaN,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Open_time,Close_time
0,0.0,2024-11-29 19:15:00,0.00002586,0.00002600,0.00002584,0.00002597,37496939828.00,2024-11-29 19:29:59.999,972646.83781410,27928,21905153051.00,568208.64802220,2024-11-29 19:15:00,2024-11-29 19:29:59.999
1,1.0,2024-11-29 19:30:00,0.00002597,0.00002612,0.00002596,0.00002609,26725324600.00,2024-11-29 19:44:59.999,696462.58992786,23467,12605369474.00,328584.11842119,2024-11-29 19:30:00,2024-11-29 19:44:59.999
2,2.0,2024-11-29 19:45:00,0.00002609,0.00002624,0.00002608,0.00002620,69224716464.00,2024-11-29 19:59:59.999,1809911.34886240,28201,35851991393.00,937393.54961129,2024-11-29 19:45:00,2024-11-29 19:59:59.999
3,3.0,2024-11-29 20:00:00,0.00002621,0.00002623,0.00002610,0.00002613,58428525381.00,2024-11-29 20:14:59.999,1528261.51287951,29693,24893874104.00,651652.62798692,2024-11-29 20:00:00,2024-11-29 20:14:59.999
4,4.0,2024-11-29 20:15:00,0.00002613,0.00002625,0.00002612,0.00002625,34867426582.00,2024-11-29 20:29:59.999,913351.20503113,20282,25188974256.00,659988.96366782,2024-11-29 20:15:00,2024-11-29 20:29:59.999

In [11]:
df.drop('Close time', axis=1, inplace=True)
df.drop('Open time', axis=1, inplace=True)

In [12]:
df.head()

,NaN,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Open_time,Close_time
0,0.0,0.00002586,0.00002600,0.00002584,0.00002597,37496939828.00,972646.83781410,27928,21905153051.00,568208.64802220,2024-11-29 19:15:00,2024-11-29 19:29:59.999
1,1.0,0.00002597,0.00002612,0.00002596,0.00002609,26725324600.00,696462.58992786,23467,12605369474.00,328584.11842119,2024-11-29 19:30:00,2024-11-29 19:44:59.999
2,2.0,0.00002609,0.00002624,0.00002608,0.00002620,69224716464.00,1809911.34886240,28201,35851991393.00,937393.54961129,2024-11-29 19:45:00,2024-11-29 19:59:59.999
3,3.0,0.00002621,0.00002623,0.00002610,0.00002613,58428525381.00,1528261.51287951,29693,24893874104.00,651652.62798692,2024-11-29 20:00:00,2024-11-29 20:14:59.999
4,4.0,0.00002613,0.00002625,0.00002612,0.00002625,34867426582.00,913351.20503113,20282,25188974256.00,659988.96366782,2024-11-29 20:15:00,2024-11-29 20:29:59.999

In [13]:
# Create lagged features for past 5 candles
for lag in range(1, 6):  # Adjust the range to change the number of lags
    df[f'Lag_Open_{lag}'] = df['Open'].shift(lag)
    df[f'Lag_Close_{lag}'] = df['Close'].shift(lag)
    df[f'Lag_High_{lag}'] = df['High'].shift(lag)
    df[f'Lag_Low_{lag}'] = df['Low'].shift(lag)
    df[f'Lag_Volume_{lag}'] = df['Volume'].shift(lag)

# Drop rows with NaN caused by the shifting (optional)
df = df.dropna()

In [14]:
df.head()

,NaN,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,...,Lag_Open_4,Lag_Close_4,Lag_High_4,Lag_Low_4,Lag_Volume_4,Lag_Open_5,Lag_Close_5,Lag_High_5,Lag_Low_5,Lag_Volume_5
5,5.0,0.00002625,0.00002628,0.00002619,0.00002620,47381462897.00,1243039.38826670,19139,24989432433.00,655760.83964347,...,0.00002597,0.00002609,0.00002612,0.00002596,26725324600.00,0.00002586,0.00002597,0.00002600,0.00002584,37496939828.00
6,6.0,0.00002620,0.00002623,0.00002610,0.00002614,46342462981.00,1211615.75733040,18519,27191153140.00,710865.98390868,...,0.00002609,0.00002620,0.00002624,0.00002608,69224716464.00,0.00002597,0.00002609,0.00002612,0.00002596,26725324600.00
7,7.0,0.00002614,0.00002623,0.00002613,0.00002616,42194693896.00,1104562.37450448,17240,27266107963.00,713808.94452848,...,0.00002621,0.00002613,0.00002623,0.00002610,58428525381.00,0.00002609,0.00002620,0.00002624,0.00002608,69224716464.00
8,8.0,0.00002616,0.00002616,0.00002600,0.00002608,52214613859.00,1361398.83243895,23279,33876331291.00,883357.66260455,...,0.00002613,0.00002625,0.00002625,0.00002612,34867426582.00,0.00002621,0.00002613,0.00002623,0.00002610,58428525381.00
9,9.0,0.00002609,0.00002611,0.00002600,0.00002606,57147338846.00,1488520.12431436,22368,29352585655.00,764490.05856123,...,0.00002625,0.00002620,0.00002628,0.00002619,47381462897.00,0.00002613,0.00002625,0.00002625,0.00002612,34867426582.00

In [16]:
df.shape

(100024, 37)

In [24]:
# Create rolling features
rolling_window = 5  # Define the rolling window size (5-period rolling window, adjust as needed)

# Create rolling features for 'Open', 'Close', 'High', 'Low', and 'Volume'
df['Rolling_Open_Mean'] = df['Open'].rolling(window=rolling_window).mean()  # Rolling mean for Open
df['Rolling_Close_Mean'] = df['Close'].rolling(window=rolling_window).mean()  # Rolling mean for Close
df['Rolling_High_Mean'] = df['High'].rolling(window=rolling_window).mean()  # Rolling mean for High
df['Rolling_Low_Mean'] = df['Low'].rolling(window=rolling_window).mean()  # Rolling mean for Low
df['Rolling_Volume_Mean'] = df['Volume'].rolling(window=rolling_window).mean()  # Rolling mean for Volume

# You can also add other rolling features like standard deviation, min, and max for the same columns:
df['Rolling_Open_Std'] = df['Open'].rolling(window=rolling_window).std()  # Rolling std for Open
df['Rolling_Close_Std'] = df['Close'].rolling(window=rolling_window).std()  # Rolling std for Close
df['Rolling_High_Std'] = df['High'].rolling(window=rolling_window).std()  # Rolling std for High
df['Rolling_Low_Std'] = df['Low'].rolling(window=rolling_window).std()  # Rolling std for Low
df['Rolling_Volume_Std'] = df['Volume'].rolling(window=rolling_window).std()  # Rolling std for Volume

# Rolling Min and Max
df['Rolling_Open_Min'] = df['Open'].rolling(window=rolling_window).min()  # Rolling Min for Open
df['Rolling_Close_Min'] = df['Close'].rolling(window=rolling_window).min()  # Rolling Min for Close
df['Rolling_High_Min'] = df['High'].rolling(window=rolling_window).min()  # Rolling Min for High
df['Rolling_Low_Min'] = df['Low'].rolling(window=rolling_window).min()  # Rolling Min for Low
df['Rolling_Volume_Min'] = df['Volume'].rolling(window=rolling_window).min()  # Rolling Min for Volume

df['Rolling_Open_Max'] = df['Open'].rolling(window=rolling_window).max()  # Rolling Max for Open
df['Rolling_Close_Max'] = df['Close'].rolling(window=rolling_window).max()  # Rolling Max for Close
df['Rolling_High_Max'] = df['High'].rolling(window=rolling_window).max()  # Rolling Max for High
df['Rolling_Low_Max'] = df['Low'].rolling(window=rolling_window).max()  # Rolling Max for Low
df['Rolling_Volume_Max'] = df['Volume'].rolling(window=rolling_window).max()  # Rolling Max for Volume

# Optionally, you can handle the NaN values generated by the rolling functions
# Forward fill to propagate last valid observation
df.fillna(method='ffill', inplace=True)  # Forward fill NaNs

# If you want to check your dataframe

In [19]:
df.head()

,NaN,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,...,Rolling_Open_Min,Rolling_Close_Min,Rolling_High_Min,Rolling_Low_Min,Rolling_Volume_Min,Rolling_Open_Max,Rolling_Close_Max,Rolling_High_Max,Rolling_Low_Max,Rolling_Volume_Max
5,5.0,0.00002625,0.00002628,0.00002619,0.00002620,47381462897.00,1243039.38826670,19139,24989432433.00,655760.83964347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.0,0.00002620,0.00002623,0.00002610,0.00002614,46342462981.00,1211615.75733040,18519,27191153140.00,710865.98390868,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7.0,0.00002614,0.00002623,0.00002613,0.00002616,42194693896.00,1104562.37450448,17240,27266107963.00,713808.94452848,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8.0,0.00002616,0.00002616,0.00002600,0.00002608,52214613859.00,1361398.83243895,23279,33876331291.00,883357.66260455,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9.0,0.00002609,0.00002611,0.00002600,0.00002606,57147338846.00,1488520.12431436,22368,29352585655.00,764490.05856123,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10

In [20]:
df.fillna(method='bfill', inplace=True)  # Backward fill

In [21]:
df.head()

,NaN,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,...,Rolling_Open_Min,Rolling_Close_Min,Rolling_High_Min,Rolling_Low_Min,Rolling_Volume_Min,Rolling_Open_Max,Rolling_Close_Max,Rolling_High_Max,Rolling_Low_Max,Rolling_Volume_Max
5,5.0,0.00002625,0.00002628,0.00002619,0.00002620,47381462897.00,1243039.38826670,19139,24989432433.00,655760.83964347,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10
6,6.0,0.00002620,0.00002623,0.00002610,0.00002614,46342462981.00,1211615.75733040,18519,27191153140.00,710865.98390868,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10
7,7.0,0.00002614,0.00002623,0.00002613,0.00002616,42194693896.00,1104562.37450448,17240,27266107963.00,713808.94452848,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10
8,8.0,0.00002616,0.00002616,0.00002600,0.00002608,52214613859.00,1361398.83243895,23279,33876331291.00,883357.66260455,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10
9,9.0,0.00002609,0.00002611,0.00002600,0.00002606,57147338846.00,1488520.12431436,22368,29352585655.00,764490.05856123,...,0.000026,0.000026,0.000026,0.000026,4.219469e+10,0.000026,0.000026,0.000026,0.000026,5.714734e+10

In [22]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[['Open', 'Close', 'Volume']] = scaler.fit_transform(df[['Open', 'Close', 'Volume']])

In [23]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df[['Open', 'Close', 'Volume']] = scaler.fit_transform(df[['Open', 'Close', 'Volume']])

In [25]:
# Example: Calculate a 50-period moving average
df['MA_50'] = df['Close'].rolling(window=50).mean()

In [26]:
df['Price_Change'] = df['Close'].pct_change()  # Percentage change from previous period
df['Log_Return'] = np.log(df['Close'] / df['Close'].shift(1))  # Log return

In [27]:
df['Hour'] = df['Open_time'].dt.hour  # Extract hour from open time
df['Day_of_Week'] = df['Open_time'].dt.dayofweek  # Extract day of week (0 = Monday)

In [29]:
pip install gym tensorflow torch sklearn

Collecting gym
  Using cached gym-0.26.2.tar.gz (721 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting tensorflow
  Using cached tensorflow-2.18.0-cp312-cp312-win_amd64.whl.metadata (3.3 kB)
Collecting torch
  Using cached torch-2.5.1-cp312-cp312-win_amd64.whl.metadata (28 kB)
Collecting sklearn
  Using cached sklearn-0.0.post12.tar.gz (2.6 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'error'
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  python setup.py egg_info did not run successfully.
  exit code: 1

  [15 lines of output]
  The 'sklearn' PyPI package is deprecated, use 'scikit-learn'
  rather than 'sklearn' for pip commands.

  Here is how to fix this error in the main use cases:
  - use 'pip install scikit-learn' rather than 'pip install sklearn'
  - replace 'sklearn' by 'scikit-learn' in your pip requirements files
    (requirements.txt, setup.py, setup.cfg, Pipfile, etc ...)
  - if the 'sklearn' package is used by one of your dependencies,
    it would be great if you take some time to track which package uses
    'sklearn' instead of 'scikit-learn' and report it to their issue tracker
  - as a last resort, set the environment variable
    SKLEARN_ALLOW_DEPRECATED_SKLEARN_PACKAGE_INSTALL=True to avoid this error

  More information is available at
  https://github.com/scikit-learn/sklearn-pypi-package
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

Encountered error while generating package metadata.

See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [2]:
import gym
import torch
import torch.nn as nn
import torch.optim as optim
from sklearn.preprocessing import StandardScaler

ModuleNotFoundError: No module named 'gym'

In [1]:
class CryptoTradingEnv(gym.Env):
    def __init__(self, df):
        super(CryptoTradingEnv, self).__init__()

        self.df = df
        self.current_step = 0
        self.done = False

        # Define the action space (buy, sell, hold)
        self.action_space = gym.spaces.Discrete(3)  # 3 actions: 0 - hold, 1 - buy, 2 - sell

        # Define the observation space (the feature space of the dataset)
        self.observation_space = gym.spaces.Box(low=0, high=1, shape=(df.shape[1],), dtype=np.float32)

        # Initialize state
        self.state = None

    def reset(self):
        self.current_step = 0
        self.done = False
        self.state = self.df.iloc[self.current_step].values
        return self.state

    def step(self, action):
        self.current_step += 1

        if self.current_step >= len(self.df) - 1:
            self.done = True
            return self.state, 0, self.done, {}

        # Get the current and next states
        prev_state = self.state
        self.state = self.df.iloc[self.current_step].values

        # Calculate reward (difference between predicted close price and actual close price)
        predicted_close = self.state[1]  # Assuming predicted price is from the model (second column)
        actual_close = self.df.iloc[self.current_step]['Close']
        
        reward = self.get_reward(predicted_close, actual_close)

        # Implement the trading logic (buy, sell, hold)
        if action == 1:  # Buy action
            # Assume the agent buys at the predicted price
            reward -= 0.01  # Small penalty for transaction
        elif action == 2:  # Sell action
            # Assume the agent sells at the predicted price
            reward += 0.01  # Small profit for transaction
        
        return self.state, reward, self.done, {}

    def get_reward(self, predicted_close, actual_close):
        # Reward function based on prediction accuracy
        # Reward: +1 for correct prediction, -1 for wrong prediction
        return 1 - abs(predicted_close - actual_close)  # Simple reward function

NameError: name 'gym' is not defined